html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #F0F0F0;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* https://designshack.net/articles/inspiration/designing-in-the-dark-10-dark-sites-and-their-color-schemes/ */
  background-color: #181712;
  color: #F0F0F0;
}

#textContainer {
  padding: 8px;
}

#text {
  font-size: 12px;
  line-height: 1.25em;
}

footer {
  width: 100%;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}

#nameContainer {
  position: relative;
  min-width: 256px;
  height: 100%;
  float: right;
}

#name {
  color: #6ABEDB;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 14px;
  right: 8px;
}

#screen_name {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #B0ABA0;
  font-size: 12px;
}

#image {
  float: right;
}
